body{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

#username{
    background-color: #FFFFDD;
    border: 1px solid #acacac;
    border-radius: 10px;
    opacity: .7;
}

#text{
  margin-top: 50px;
  border: 1px solid #acacac;
  opacity: .7;
  border-radius: 10px; 
  transition: all .3s;
  font-size: 16px;
  outline: none;
  background-color: #FFFFDD;
  width: 90%;
  bottom: 0px;
  line-height: 20px;
}

#output{
   width: 90%;
   background-color: #DDFFFF;
   border: 1px solid #acacac;
   border-radius: 10px; 
   border: none;
}
